// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid"; // fas
@import "~@fortawesome/fontawesome-free/scss/regular"; // far
@import "~@fortawesome/fontawesome-free/scss/brands"; // fab

body {
  background-color: #f4f7f8;
  font-size: 1rem;
  line-height: 1.6;
}


.navbar .post-create {
  background-color: #2176bd !important
}

.editor {
  textarea#body {
    min-height: 10rem;
  }
}
img.account_logo {
    width: 40px;
    height: auto;
}

.navbar-nav {
  flex-direction: row;

  .nav-link {
    padding: 0.5rem 1rem;
  }
}
.account_menus {
  position: relative;

  #account_menu {
    cursor: pointer;
  }
  .account_menu {
    display: none;
    list-style: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    width: 170px;
    z-index: 5;
    padding: 10px 0;
    box-shadow: 1px 2px 6px #ccc;
    border-radius: 4px;

    &.is-open {
      display: block;
    }

    li {
      a {
        color: #333;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.4s;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

// .home-article-list {
// }
  .list-group-item {

    .posts_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .title {
      margin-bottom: 0.7rem;
      color: rgb(51, 51, 51);
      font-size: 1.2rem;
    }

    .excerpt {
      margin-bottom: 0.6rem;
      font-size: 0.8rem;
    }

    .create_date {
      font-size: 0.8rem;
      color: #777;
      margin: 0;
    }

    .user {
      font-size: 0.8rem;
      color: #777;
    }

    .like {
      vertical-align: middle;

      .like-icon {
        color: #777;
      }

      .liked {
        color: #E1255E;
      }

      .like_count {
        color: #777;
        font-size: 0.9rem;
      }
      .js-like_id {
        display: none;
      }
    }
  }


.article {
  background-color: #fff;
  padding: 2rem;
}

.article__heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.article__created-at {
  color: #cdcdcd;
}

.article__head {
  margin-bottom: 20px;
}




/*  profile
----------------------------*/

.profile-panel {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);

  .user_name {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: #777;
  }
}

.btn-wrap {
  text-align: right;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
}

.profile_image {
  width: 100px;
  margin: 0 auto;
  border-radius:100%;

  img {
    border-radius:100%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}



/*  delete post
----------------------------*/
.sticky_delete_block {
  display: none;
  transition: all 0.4s;
}
.sticky_delete_block.is-show {
  display: block;
  position: fixed;
  left: 0;
  bottom:0;
  max-width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 1px 2px 8px #cdcdcd;

  .delete-btn_wrap {
    display: flex;
    justify-content: space-between;
    align-items:center;

    #js_reset_checkbox {
      color:#ccc;
      margin-right: 10px;
      font-size: 1.6rem;
      cursor:pointer;
      display: inline-block;
      vertical-align: middle;

      :hover {
        color:#333;
      }
    }
    #js_calc_delete_posts {
      font-weight: bold;
      background: #3490dc !important;
      padding:2px 20px;
      border-radius: 20px;
      color: #fff;
    }
  }
}



/* settion account
-----------------------------*/

.account-setting {
  padding: 40px;
  .title {
    font-size: 24px;

    .name {
      font-weight: bold;
    }
  }

  .account-setting-form {

    label {
      font-weight: bold;
      font-size: 14px;
    }

    .profile-image{
      display: block;
    }
  }
}
