// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid"; // fas
@import "~@fortawesome/fontawesome-free/scss/regular"; // far
@import "~@fortawesome/fontawesome-free/scss/brands"; // fab

body {
  background-color: #f4f7f8;
  font-size: 1rem;
  line-height: 1.6;
}


.navbar .post-create {
  background-color: #2176bd !important
}

.excerpt {
  margin: 0;
}

.article {
  background-color: #fff;
  padding: 2rem;
}

.article__heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.article__created-at {
  color: #cdcdcd;
}

.article__head {
  margin-bottom: 20px;
}
